@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<div class="container">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.jikexueyuan.com/"></iframe>
    </div>
</div>
<p>Use this area to provide additional information. Below is an accordian list.</p>
<div class="container">
    <ul class="media-list">
        <li class="media">
            <a class="media-left media-middle" href="#">
                <img src="../images/1.jpg" width="200" alt=""/>
            </a>
            <div class="media-body">
                <h4>欢迎来到极客学院</h4>
                <p>欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院</p>
                <p>欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院</p>
                <p>欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院</p>
                <p>欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院欢迎来到极客学院</p>
            </div>
        </li>
    </ul>
</div>
<div class="panel panel-default">
    <div class="page-header">
        header
    </div>
    <div class="panel-body">
        <p>欢迎来到极客学院欢迎来到极客学院欢迎来 极客学院</p>
        <p>欢迎来到极客学院欢迎来到极客学院 到极客学院</p>
        <p>欢迎来到极客学院欢迎来到极客 到极客学院</p>
        
    </div>
    <table class="table">
        <thead>
        <tr class="active">
            <td>表头</td>
            <td>表头</td>
            <td>表头</td>
           
        </tr> 
        </thead>
        <tbody>
        <tr class="success" >
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr> 
        <tr class="info" >
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr> 
        </tbody>
    </table>
    <div class="panel-footer">footer</div>
</div>
<div class="panel panel-default">
    <div class="page-header">
        header
    </div>
    <div class="panel-body">
        panel-body
    </div>
    <ul class="list-group">
        <li class="list-group-item">hello1</li>
        <li class="list-group-item">hello2</li>
        <li class="list-group-item">hello3</li>
        <li class="list-group-item">hello4</li>
    </ul>  
</div>

