
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    #mydiv {
        width: 100px;
        height: 100px;
        background: aqua;
        -webkit-transition: width 2s;
        transition: width 2s; 
    }
    #mydiv:hover {
        width: 400px
    }
</style>
 
<div class="jumbotron">
    <h1>极客学院</h1>
    <p> 欢迎来到极客学院，希望您能再这里学到更多的知识，丰富自己，提升自己</p>
    <p><a class="btn btn-info" href="#" role="button">learn more</a></p>
</div>
<div class="page-header">
    <h1> 极客学院<small>欢迎你</small></h1>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="../images/3.jpg"/>
        </a>
        <div class="caption">
            <h3>这是一个美女哦</h3>
            <p>
                <a href="#" class="btn btn-primary" role="button">选我哦</a>
                <a href="#" class="btn btn-default" role="button">不好看</a>
            </p>
        </div>
    </div>
</div>
<div id="mydiv">
    
</div>
<div class="container">
    @*<div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.baidu.com/"></iframe>
        </div>*@
    <div class="well">
        look I'm in a well.
    </div>
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss='alert'>
            <span aria-disabled="true">
                &times;
            </span>
        </button> 
        <strong >成功</strong>
        
    </div>
    <div class="alert alert-warning" role="alert">
        如有问题请到
        <a href="http://www.jikexueyuan.com" class="alert-link">
            极客学院    
        </a>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" 
             role="progressbar"
             aria-valuemin="0" aria-valuemax="100" 
             style="width: 90%"></div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success" 
             role="progressbar"
             aria-valuemin="0" aria-valuemax="100" 
             style="width: 40%"></div>
        <div class="progress-bar progress-bar-warning progress-bar-striped active" 
             role="progressbar"
             aria-valuemin="0" aria-valuemax="100" 
             style="width: 40%"></div>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><span class="badge">30</span>
            <h4>我看极客学</h4> 
            <p class="list-group-item-text">这是一个学习的地方，希望大家维护好这个地方</p>
        </li>
        <li class="list-group-item">我看极客学<span class="badge">10</span></li>
        <li class="list-group-item">我看极客学</li>
        <li class="list-group-item">我看极客学</li>
        <li class="list-group-item  list-group-item-success">我看极客学</li>
    </ul>
    <nav>
        <ul class="pagination pagination-lg">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>

        </ul>
    </nav>

    <nav>
        <ul class="pagination pagination-sm">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>

        </ul>
    </nav>

    <nav>
        <ul class="pager">
            <li><a href="#">上一页</a></li>
            <li><a href="#">下一页</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="pager">
            <li class="previous"><a href="#">上一页</a></li>
            <li class="next"><a href="#">下一页</a></li>
        </ul>
    </nav>
    <button class="btn btn-success">短消息 <span class="badge">30</span></button>
    <span class="label label-default"> 默认</span>
    <span class="label label-danger"> 危险</span>
    <span class="label label-success"> 成功</span>
    <span class="label label-info"> 信息</span>
    <span class="label label-warning"> 警告</span>
    <h3>这是一个主标题 <span class="label label-default"> 描述</span></h3>
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#"> home<span class="badge">30</span></a></li>
        <li role="presentation"><a href="#"> profile<span class="badge">30</span></a></li>
        <li role="presentation"><a href="#"> message<span class="badge">30</span></a></li>

    </ul>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"   data-whatever="fat">开始演示模态框</button>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" 
                            data-target="#myModal";
                            data-whatever="fat1"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                </div>
                <div class="modal-body">在这里添加一些文本
                    <input id="myInput" type="text"  class="form-control"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close" 
                            data-dismiss="modal">关闭<span>&times;</span></button>
                    <button type="button" 
                            class="btn btn-primary"  
                            data-dismiss="modal"  >提交更改
                    
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script>
        $(function() {
            $('#myModal').on('show.bs.modal',
                function(e) {
                    var button = $(e.relatedTarget);
                    var recipient = button.data('whatever');

                    var modal = $(this);
                    modal.find('.modal-title').text('New message to ' + recipient);
                    modal.find('.modal-body input').val(recipient);
                    modal.find('.modal-body input').focus();
                    $('#myInput').focus();
                });
        });
       
    </script>
</div>
<nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
    <div class="container-fluid"> 
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" 
                    data-target=".bs-js-navbar-scrollspy">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">教程名称</a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
            <ul class="nav navbar-nav">
                <li><a href="#ios">iOS</a></li>
                <li><a href="#svn">SVN</a></li>
                <li class="dropdown">
                    <a href="#" id="navbarDrop1" class="dropdown-toggle" 
                       data-toggle="dropdown">Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" 
                        aria-labelledby="navbarDrop1">
                        <li><a href="#jmeter" tabindex="-1">jmeter</a></li>
                        <li><a href="#ejb" tabindex="-1">ejb</a></li>
                        <li class="divider"></li>
                        <li><a href="#spring" tabindex="-1">spring</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> 
</nav>
<div data-spy="scroll" data-target="#navbar-example" data-offset="10" 
     style="height:200px;overflow:auto; position: relative;">
    <h4 id="ios">iOS</h4>
    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple 
        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
    </p>
    <h4 id="svn">SVN</h4>
    <p>Apache Subversion，通常缩写为 SVN，是一款开源的版本控制系统软件。Subversion 由 CollabNet 公司在 2000 年创建。但是现在它已经发展为 Apache Software Foundation 的一个项目，因此拥有丰富的开发人员和用户社区。
    </p>
    <h4 id="jmeter">jMeter</h4>
    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。
    </p>
    <h4 id="ejb">EJB</h4>
    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
    </p>
    <h4 id="spring">Spring</h4>
    <p>Spring 框架是一个开源的 Java 平台，为快速开发功能强大的 Java 应用程序提供了完备的基础设施支持。
    </p>
    <p>Spring 框架最初是由 Rod Johnson 编写的，在 2003 年 6 月首次发布于 Apache 2.0 许可证下。
    </p>
</div>
<script>
    
    var i = 1;
    var j = 10;
    $('ul.nav-pills li').click(function (e) {
        e.preventDefault();

        //$(this).toggleClass('active'); 
        //如果有的修改类的状态 
        $('ul.nav-pills li').removeClass('active'); 
        //如果没有的话修改类的状态
        $(this).toggleClass('active');
        var k = i * j;
      
        $('.progress-bar').width(parseFloat(k)+"%" );
        i++;
        //$(this).tab("show");
    });

</script>