@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row {
        margin-bottom: 20px;
        font-family: micoresoft yahei;
        font-size: 18px;
        text-align: center; 
    }

    .row.row {
        margin-top: 10px;
        margin-bottom: 0;
    }

    [class*="col-"] {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #eee;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid #ddd;
        border: 1px solid rgba(86, 61, 124, .2);
    }
</style>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Bootstrap 3, Asp.Net Core Starter Application</h1>
    <p class="lead">Get started quickly with this application.</p>
</div>
<div class="container-fluid">
    <h1> 极客学院</h1>
    <h2><abbr title="极客学院欢迎你的到来">极客学院</abbr> </h2>

    <p>极客学院<mark> 欢迎你的<abbr>到来</abbr> </mark></p>
    <p class="lead"> lead</p>
    <del> 删除测试</del>
    <p class="text-center">极客学院</p>
    <abbr title="phone">P:123131</abbr>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">极客学院1</div>
        <div class="col-sm-3">极客学院2</div>
        <div class="col-sm-3">极客学院3</div>
        <div class="col-sm-3">极客学院4</div>
    
    </div>
    <div class="row">
        <div class="col-sm-4">极客学院1</div>
        <div class="col-sm-4">极客学院2</div>
        <div class="col-sm-4">极客学院3</div>

    </div>
    <div class="row">
        <div class="col-md-3">
            极客学院 极客学院极客学院极客学院极客学院极客
            学院极客学院极客学院极客学院极
          
        </div>
        <div class="col-md-3">极客学院</div>
        <div class="col-md-3">
            极客学院
        </div>
    </div>
    <div class="row">
        <div class="col-md-4  col-md-offset-4">
            one
            <div class="row">
                <div class="col-sm-8">
                    first
                </div>
                <div class="col-sm-4">
                    second
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    for example<section> as inline</section>
    <code>
        &lt;section&gt;
    </code>
    <kbd>cmd</kbd>
    <pre>
        S.O.L.I.D是面向对象设计和编程(OOD&OOP)中
几个重要编码原则 
   </pre>
    <var>x</var>=<var>y</var>++<br/>
    <samp> hello world</samp>
</div>
<div class="progress">
    <div class="progress-bar" style="width:70%"></div>
</div>
<div class="container">
    <table class="table   table-bordered table-hover">
        <thead>
        <tr>
            <th>表格标题</th>
            <th>表格标题</th>
            <th>表格标题</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-info">
            <td>表格单元格</td>
            <td>表格单元格</td>
            <td>表格单元格</td> 
        </tr>
        <tr class="bg-danger">
            <td>表格单元格</td>
            <td>表格单元格</td>
            <td>表格单元格</td> 
        </tr>
        <tr class="bg-success">
            <td>表格单元格</td>
            <td>表格单元格</td>
            <td>表格单元格</td> 
        </tr>
        <tr  class="bg-warning">
            <td>表格单元格</td>
            <td>表格单元格</td>
            <td>表格单元格</td> 
        </tr>
        <tr class="bg-info"> 
            <td>表格单元格</td>
            <td>表格单元格</td>
            <td>表格单元格</td> 
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="dropdown pull-right">
        <button type="button" data-toggle="dropdown"
                class="btn btn-default dropdown-toggle">
            下拉菜单
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu"
            aria-labelledby="dropdownMenu1">
            <li role="presentation" class="dropdown-header">
                下拉菜单标题
            </li>
            <li role="presentation"><a href="#" role="menuitem">一</a></li>
            <li role="presentation"><a href="#" role="menuitem">二</a></li>
            <li role="presentation"><a href="#" role="menuitem">三</a></li>
            <li role="presentation"><a href="#" role="menuitem">四</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">
                下拉菜单标题
            </li>
            <li role="presentation"><a href="#" role="menuitem">1</a></li>
            <li role="presentation"><a href="#" role="menuitem">2</a></li>
            <li role="presentation"><a href="#" role="menuitem">3</a></li>
            <li role="presentation"><a href="#" role="menuitem">4</a></li>
        </ul>
    </div>
    <button id="fat-btn" class="btn btn-primary" data-loading-text="Loading..."
            type="button">
        加载状态
    </button>
    <a class="btn btn-default" href="#" role="button">Link</a>
    <div class="btn-group-vertical" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    <div class="btn-group btn-group-justified">  
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Left</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Middle</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Right</button>
        </div>
        

    </div>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
    </div>
    <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
        <div class="dropdown btn-group dropup">
            <button type="button" class="btn btn-info btn-lg">下拉菜单</button>
            <button type="button" data-toggle="dropdown"
                    class="btn btn-info dropdown-toggle  btn-lg"> 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"
                aria-labelledby="dropdownMenu1">
                <li role="presentation" class="dropdown-header">
                    下拉菜单标题
                </li>
                <li role="presentation"><a href="#" role="menuitem">一</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a href="#" role="menuitem">二</a></li>



            </ul>
        </div>
    </div>
    <script>

        $(document).ready(function () {

            $("#fat-btn").click(function () {
                $(this).button('loading').delay(1000).queue(function () {
                    $(this).button('reset');
                    // $(this).dequeue();
                });
            });
        });
    </script>
</div>
<div class="input-group input-group-lg">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control"/>
    <span class="input-group-addon">.00</span>
</div>
<div class="input-group ">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control" />
    <span class="input-group-addon">.00</span>
</div>
<div class="input-group input-group-sm">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control" />
    <span class="input-group-addon">.00</span>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-lg">下拉菜单</button>
                <button type="button" data-toggle="dropdown"
                        class="btn btn-info dropdown-toggle  btn-lg">  
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu"
                    aria-labelledby="dropdownMenu1">
                    <li role="presentation" class="dropdown-header">
                        下拉菜单标题
                    </li>
                    <li role="presentation"><a href="#" role="menuitem">一</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a href="#" role="menuitem">二</a></li>



                </ul>
            </span>
            <input type="text" class="form-control"/>
        </div>
    </div>
</div>
<div class="card-deck  text-center">
    <div class="card   box-shadow">
        <div class="card-header">
            <h4 class=" font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title ">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>2 GB of storage</li>
                <li>Email support</li>
                <li>Help center access</li>
            </ul>
            <button type="button"
                    class="btn btn-lg btn-block btn-outline-primary">
                Sign up for free
            </button>
            
            
        </div>
    </div>

</div>



